.vscode/**
.vscode-test/**
.zcode/**
src/**
out/**
scripts/**
image/md-*
pnpm-workspace.yaml
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
package-lock.json
