.vscode/**
.vscode-test/**
src/**
scripts/**
image/md-*
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
package-lock.json
